@model  Weather.MVC.viewModels.ViewModel

@{
    ViewBag.Title = "Sök område";
}

<h2>Sök område</h2>

@using (Html.BeginForm())
{
    @Html.EditorFor(model => model.search)
    @Html.ValidationMessageFor(model => model.search)
    <input type="submit" value="Sök">
}

@{
    if (Model != null)
    {
        @Html.DisplayForModel("Location_DPView", Model)
        
    //@Html.ActionLink(item.Name, "Forecast", new { Name = item.Name, Region = item.Region, Country = item.Country }, null)
    }

}
