@model IEnumerable<Weather.Domain.Location>

@{
    ViewBag.Title = "Sök område";
}

<h2>Sök område</h2>

@using (Html.BeginForm())
{
    <input type="search" name="searchvalue">
    <input type="submit" value="Sök">
}

@{
    if (Model != null)
    {
        @Html.DisplayForModel("Location_DPView", Model)
        
    //@Html.ActionLink(item.Name, "Forecast", new { Name = item.Name, Region = item.Region, Country = item.Country }, null)
    }

}
